<h2><b>String Based Assignment Problem<b></h2>

In [30]:
#Q1. Write a program to reverse a string
s1 = "Python Data Types"
print("String : "+s1)
revs1 = s1[::-1]
print("String after reverse: "+revs1)

String : Python Data Types
String after reverse: sepyT ataD nohtyP

In [31]:
#Q2. Check if a string is a palindrome
s1 = input()
if s1 == s1[::-1]:
    print("String: "+s1+" is a pallindrome")
else:
    print("String: "+s1+" is not a pallindrome")

String: level is a pallindrome

In [32]:
#Q3. Convert a string to uppercase
s1 = "hello world"
print("Given String: "+s1)
s1 = s1.upper()
print("String After: "+s1)

Given String: hello world
String After: HELLO WORLD

In [33]:
#Q4. Convert a string to lowercase
s1 = "HELLO WORLD"
print("Given String: "+s1)
s1 = s1.lower()
print("String After: "+s1)

Given String: HELLO WORLD
String After: hello world

In [34]:
#Q5. Count the number of vowels in a string
def countvow(str):
    count = 0
    for i in str:
        if i.lower() in ('a','e','i','o','u'):
            count+=1
    return count

s1 = input()
print("Given String: "+s1)
print("Number of vowels: ",countvow(s1))

Given String: I Am the Ultimate Python Developer
Number of vowels:  12

In [35]:
#Q6. Count the number of consonants in a string
def countcons(str):
    count = 0
    for i in str:
        if i.lower() not in ('a','e','i','o','u') and ord(i.lower())>=97 and ord(i.lower())<=122:
            count+=1
    return count

s1 = input()
print("Given String: "+s1)
print("Number of consonants: ",countcons(s1))

Given String: I Am the Ultimate Python Developer
Number of consonants:  17

In [40]:
#Q7. Remove all whitespaces from a string
s1 = "   Hel lo Wor ld   "
print("Given String: "+s1)
s1 = s1.replace(" ","")
print("String after: "+s1)

Given String:    Hel lo Wor ld
String after: HelloWorld

In [6]:
# Q8. Find the length of a string without using the `len()` function
s1 = "I am a software develope"
def strlen(str1):
    counter = 0
    for i in str1:
        counter+=1
    return counter

print("Length of String:",strlen(s1))

Length of String: 24

In [30]:
# Q9. Check if a string contains a specific word.
s1 = "Hello World, I am Python"
print("Given String s1: "+s1)
# s_lst = s1.lower().split()
# print(s_lst)
look = input("Enter the word you want to find: ")
if look.lower() in s1.lower():
    print("Word: "+look+" is present in string s1")
else:
    print("Word: "+look+" is not present in string s1")

Given String s1: Hello World, I am Python
Word: World is present in string s1

In [36]:
#Q10. Replace a word in a string with another word.
s1 = "Hello World, I am Python"
print("Given String s1: "+s1)
s1 = s1.replace("World","Earth")
print("String After: "+s1)

Given String s1: Hello World, I am Python
String After: Hello Earth, I am Python

In [4]:
#Q11. Count the occurrences of a word in a string.
s1 = "Hello Python. Hello Harsh."
print("Given String s1: "+s1)
print("Number of occurance of word 'Hello': ",s1.count("Hello"))

Given String s1: Hello Python. Hello Harsh.
Number of occurance of word 'Hello':  2

In [12]:
# Q12. Find the first occurrence of a word in a string.
s1 = "Hi Python, Hello Harsh, Hello PWSkils."
print("Given String s1: "+s1)
print("First occurance of word 'Hello': ",s1.find("Hello"))

Given String s1: Hi Python, Hello Harsh, Hello PWSkils.
First occurance of word 'Hello':  11

In [13]:
# Q13. Find the last occurrence of a word in a string
s1 = "Hi Python, Hello Harsh, Hello PWSkils."
print("Given String s1: "+s1)
print("First occurance of word 'Hello': ",s1.rfind("Hello"))

Given String s1: Hi Python, Hello Harsh, Hello PWSkils.
First occurance of word 'Hello':  24

In [16]:
# Q14. Split a string into a list of words.
s1 = "Hello World, I am Python"
print("Given String s1: "+s1)
print("List of String: ",s1.split())

Given String s1: Hello World, I am Python
List of String:  ['Hello', 'World,', 'I', 'am', 'Python']

In [23]:
# Q15. Join a list of words into a string.
s1 = "Hello World, I am Python"
print("Given String s1: "+s1)
sp = s1.split()
print("List of String: ",sp)
str_join = " ".join(sp)
print("String after join: ",str_join)

Given String s1: Hello World, I am Python
List of String:  ['Hello', 'World,', 'I', 'am', 'Python']
String after join:  Hello World, I am Python

In [24]:
# Q16. Convert a string where words are separated by spaces to one where words are separated by underscores.
s1 = "Hello World, I am Python"
print("Given String s1: "+s1)
print("String After: ",s1.replace(" ","_"))

Given String s1: Hello World, I am Python
String After:  Hello_World,_I_am_Python

In [26]:
# Q17. Check if a string starts with a specific word or phrase.
s1 = "Hello World, I am Python"
print("Given String s1: "+s1)
print("String starts with 'Hello': ",s1.startswith("Hello"))
print("String starts with 'Hi': ",s1.startswith("Hi"))

Given String s1: Hello World, I am Python
String starts with 'Hello':  True
String starts with 'Hi':  False

In [28]:
# Q18. Check if a string ends with a specific word or phrase.
s1 = "Hello World, I am Python"
print("Given String s1: "+s1)
print("String ends with 'Python': ",s1.endswith("Python"))
print("String ends with 'World': ",s1.endswith("World"))

Given String s1: Hello World, I am Python
String ends with 'Python':  True
String ends with 'World':  False

In [30]:
# Q19. Convert a string to title case (e.g., "hello world" to "Hello World").
s1 = "hello world, i am python"
print("Given String s1: "+s1)
print("String After: ",s1.title())

Given String s1: hello world, i am python
String After:  Hello World, I Am Python

In [33]:
# Q20. Find the longest word in a string.
s1 = "Hello World I am Python"
print("Given String s1: "+s1)
word_list = s1.split()
print("Longest word in string: ",max(word_list,key=len))

Given String s1: Hello World I am Python
Longest word in string:  Python

In [39]:
# Q21. Find the shortest word in a string.
s1 = "Hello World I am Python"
print("Given String s1: "+s1)
word_list = s1.split()
print("Shortest word in string: ",min(word_list,key=len))

Given String s1: Hello World I am Python
Shortest word in string:  I

In [40]:
# Q22. Reverse the order of words in a string.
s1 = "Hello World I am Python"
print("Given String s1: "+s1)
word_list = s1.split()
rev_s1 = " ".join(reversed(word_list))
print("Reversed words: ",rev_s1)

Given String s1: Hello World I am Python
Reversed words:  Python am I World Hello

In [49]:
# Q23. Check if a string is alphanumeric.
def checkisalfanum(s):
    return s.isalnum()

s1 = "Hello World I am Python"
print("Given String s1: "+s1)

if checkisalfanum(s1):
    print(f"String: '{s1}' is alphanumeric")
else:
    print(f"String: '{s1}' is not alphanumeric")

s2 = "Hello12"
print("Given String s2: "+s2)
if checkisalfanum(s2):
    print(f"String: '{s2}' is alphanumeric")
else:
    print(f"String: '{s2}' is not alphanumeric")

Given String s1: Hello World I am Python
String: 'Hello World I am Python' is not alphanumeric
Given String s2: Hello12
String: 'Hello12' is alphanumeric

In [52]:
# Q24. Extract all digits from a string.
s1 = "I have 6 Apples and 4 Mangos"
print("Given String s1: "+s1)
num = []
for i in s1:
    if i.isdigit():
        num.append(int(i))

print("Digits in String s1: ",num)

Given String s1: I have 6 Apples and 4 Mangos
Digits in String s1:  [6, 4]

In [55]:
# Q25. Extract all alphabets from a string.
s1 = "I have 6 Apples and 4 Mangos"
print("Given String s1: "+s1)
alphabets = []
for i in s1:
    if i.isalpha():
        alphabets.append(i)

print("Alphabests in string s1: ",alphabets)

Given String s1: I have 6 Apples and 4 Mangos
Alphabests in string s1:  ['I', 'h', 'a', 'v', 'e', 'A', 'p', 'p', 'l', 'e', 's', 'a', 'n', 'd', 'M', 'a', 'n', 'g', 'o', 's']

In [59]:
# Q26. Count the number of uppercase letters in a string.
s1 = "Hello Python lets Code"
print("Given String s1: ",s1)

count = 0
for i in s1:
    if i.isupper():
        count+=1
print("Number of Upper case letter in string s1: ",count)

Given String s1:  Hello Python lets Code
Number of Upper case letter in string s1:  3

In [61]:
# Q27. Count the number of lowercase letters in a string.
s1 = "Hello Python lets Code"
print("Given String s1: ",s1)

count = 0
for i in s1:
    if i.islower():
        count+=1
print("Number of lower case letter in string s1: ",count)

Given String s1:  Hello Python lets Code
Number of lower case letter in string s1:  16

In [63]:
# Q28. Swap the case of each character in a string.
s1 = "Hello World I am Python"
print("Given String s1: ",s1)
print("String after swap case: ",s1.swapcase())

Given String s1:  Hello World I am Python
String after swap case:  hELLO wORLD i AM pYTHON

In [66]:
# Q29. Remove a specific word from a string.
s1 = "Hello World I am Python"
print("Given String s1: ",s1)
inp = input()
print("Word to be removed: ",inp)
s = s1.replace(inp,"")
print("String after: ",s)

Given String s1:  Hello World I am Python
Word to be removed:  World
String after:  Hello  I am Python

In [68]:
# Q30. Check if a string is a valid email address.
import re
def is_valid_email(s):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, s) is not None

s1 = input()
print("Given Email: ",s1)

if is_valid_email(s1):
    print("Email: "+s1+" is valid")
else:
    print(f"Email: {s1} is not valid")

Given Email:  harsh@gmail.com
Email: harsh@gmail.com is valid

In [26]:
# Q31. Extract the username from an email address string.
s1 = "harsh@gmail.com"
print("Given String s1: ",s1)
user_name = s1.split('@')[0]
print("Username: ",user_name)

Given String s1:  harsh@gmail.com
Username:  harsh

In [27]:
# Q32. Extract the domain name from an email address string.
s1 = "harsh@gmail.com"
print("Given String s1: ",s1)
domain_name = s1.split('@')[1]
print("Domain name: ",domain_name)

Given String s1:  harsh@gmail.com
Domain name:  gmail.com

In [28]:
# Q33. Replace multiple spaces in a string with a single space.
s1 = "Hello    World, this  is     python"
print("Given String: ",s1)
rep_s = " ".join(s1.split())
print("String After: ",rep_s)

Given String:  Hello    World, this  is     python
String After:  Hello World, this is python

In [42]:
# Q34. Check if a string is a valid URL.
import re
 
 
def Find(string):
    regex = r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))"
    url = re.findall(regex, string)
    return [x[0] for x in url]
 
 
# Driver Code
string = 'youtube: https://www.youtube.com google: https://www.google.com'
print("Urls: ", Find(string))

Urls:  ['https://www.youtube.com', 'https://www.google.com']

In [30]:
# Q35. Extract the protocol (http or https) from a URL string.
s1 = "http://www.google.com"
s2 = "https://www.youtube.com"

print("Given String s1: ",s1)
print("Given String s2: ",s2)

print("Protocol form link s1: ",s1.split(":")[0])
print("Protocol form link s2: ",s2.split(":")[0])

Given String s1:  http://www.google.com
Given String s2:  https://www.youtube.com
Protocol form link s1:  http
Protocol form link s2:  https

In [47]:
# Q36. Find the frequency of each character in a string.
s1 = "cricket"

for i in s1:
    print("Frequency of character "+i+" : ",s1.count(i))

Frequency of character c :  2
Frequency of character r :  1
Frequency of character i :  1
Frequency of character c :  2
Frequency of character k :  1
Frequency of character e :  1
Frequency of character t :  1

In [32]:
# Q37. Remove all punctuation from a string.
import string

s1 = "Hello World! Python, Java ? by pw."
print("Given String s1: ",s1)

for punc in string.punctuation:
    s1 = s1.replace(punc,"")

print("String After: ",s1)

Given String s1:  Hello World! Python, Java ? by pw.
String After:  Hello World Python Java  by pw

In [33]:
# Q38. Check if a string contains only digits.
def isnum(st):
    if st.isdigit():
        print("Sting "+st+" contains digits")
    else:
        print("String "+st+" doesnot contains digits")

s1 = "123"
s2 = "'Hello World! Python'"

isnum(s1)
isnum(s2)

Sting 123 contains digits
String 'Hello World! Python' doesnot contains digits

In [34]:
# Q39. Check if a string contains only alphabets.
def isalp(st):
    if st.isalpha():
        print("Sting "+st+" contains only alphabets")
    else:
        print("String "+st+" doesnot contains only alphabets")

s1 = "Hello123"
s2 = "HelloPython"

isalp(s1)
isalp(s2)

String Hello123 doesnot contains only alphabets
Sting HelloPython contains only alphabets

In [35]:
# Q40. Convert a string to a list of characters.
s1 = "Hello World Python"
print("Given String: ",s1)
lst = []
lst.extend(s1)
print("List of Characters in s1: ",lst)

Given String:  Hello World Python
List of Characters in s1:  ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [36]:
# Q41. Check if two strings are anagrams.
s1 = "act"
s2 = "cat"

if sorted(s1) == sorted(s2):
    print(f"Sting s1:{s1} and s2:{s2} are Anagrams")
else:
    print(f"Sting s1:{s1} and s2:{s2} are not Anagrams")

Sting s1:act and s2:cat are Anagrams

In [37]:
# Q42. Encode a string using a Caesar cipher.
def ceaser_cipher(str1,n):
    res = ""
    for i in range(len(str1)):
        char = str1[i]
        if (char.isupper()):
            res += chr((ord(char) + n-65) % 26 + 65)

        else:
            res += chr((ord(char) + n-97) % 26 + 97)
 
    return res


#check the above function
s1 = "CaT"
n = 4
print ("Text  : " + s1)
print ("Shift : " + str(n))
print ("Cipher: " + ceaser_cipher(s1,n))

Text  : CaT
Shift : 4
Cipher: GeX

In [38]:
# Q43. Decode a Caesar cipher encoded string.
def decode_ceaser_cipher(str1,n):
    res = ""
    for i in range(len(str1)):
        char = str1[i]
        if (char.isupper()):
            res += chr((ord(char) - n-65) % 26 + 65)

        else:
            res += chr((ord(char) - n-97) % 26 + 97)
 
    return res


#check the above function
s1 = "GeX"
n = 4
print ("Text  : " + s1)
print ("Shift : " + str(n))
print ("Cipher: " + decode_ceaser_cipher(s1,n))

Text  : GeX
Shift : 4
Cipher: CaT

In [39]:
# Q44. Find the most frequent word in a string.
def word_count(str1):
    count = dict()
    words = str1.split()
    for word in words:
        if word in count:
            count[word]+=1
        else:
            count[word] = 1

    res = sorted(count.items(), key=lambda kv: kv[1])
    return res[-1]

s1 = "Dogs, scientifically known as Canis lupus familiaris, are domesticated mammals and members of the family Canidae. They are descendants of wolves and have been selectively bred for thousands of years for various behaviors, sensory capabilities, and physical attributes."
print("Given String s1: "+s1)
print("Highest Frequency word in string s1: ",word_count(s1))

Given String s1: Dogs, scientifically known as Canis lupus familiaris, are domesticated mammals and members of the family Canidae. They are descendants of wolves and have been selectively bred for thousands of years for various behaviors, sensory capabilities, and physical attributes.
Highest Frequency word in string s1:  ('of', 3)

In [40]:
# Q45. Find all unique words in a string.
def word_count(str1):
    count = dict()
    words = str1.split()
    unique_word = []
    for word in words:
        if word in count:
            count[word]+=1
        else:
            count[word] = 1

    for key,value in count.items():
        if value == 1:
            unique_word.append(key)

    return unique_word


print(word_count("Hello World Hello Python Python of jake"))

['World', 'of', 'jake']

In [48]:
# Q46. Count the number of syllables in a string.
import re
def count_syllables(word):
    word = word.lower()
    pattern = re.compile(r'[aeiouy]+')
    matches = pattern.findall(word)
    return len(matches)

def count_syllables_in_string(s):
    words = s.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

s1 = "This is a example sentence to count syllables."
print(f"Number of syllables in the string: {count_syllables_in_string(s1)}")

Number of syllables in the string: 14

In [76]:
# Q47. Check if a string contains any special characters.
def check_spl_char(s):
    sp_c = '[@_!#$%^&*()<>?/\|}{~:]'
    for i in range(len(s)):
        if s[i] in sp_c:
            return True
    return False

s1 = input("Enter String: ")

if check_spl_char(s1):
    print("Yes the string s1 '"+s1+"' contains special character.")
else:
    print("No the string s1 '"+s1+"' does not contains special character.")

Yes the string s1 '%21sj$' contains special character.

In [95]:
# Q48. Remove the nth word from a string.
def remove_n(s,n):
    l = s.split()
    l.remove(l[n])
    return " ".join(l)

s1 = input("Enter string: ")
n = int(input("Enter position of word to be removed: "))
print("Given String: '"+s1+"' and position of word to be removed: "+str(n))
s2 = remove_n(s1,n)
print("String After: "+s2)

Given String: 'Hello World! Python here.' and position of word to be removed: 1
String After: Hello Python here.

In [97]:
# Q49. Insert a word at the nth position in a string.
def add_word(s,w):
    l = s.split()
    l.append(w)
    return " ".join(l)

s1 = input("Enter string: ")
w = input("Enter word to be inserted: ")
print("Given String: '"+s1+"' and word to be inserted: '"+w+"'")
s2 = add_word(s1,w)
print("String After: "+s2)

Given String: 'Python Hello' and word to be inserted: 'World!'
String After: Python Hello World!

In [98]:
# Q50. Convert a CSV string to a list of lists.
import pandas as pd

dict1 = {
    'ID':[1,2,3,4],
    'Name':['Harsh','Sparsh','Rohan','Anupam'],
    'Roll Number': [44,60,48,52]
}

df = pd.DataFrame(dict1)
print(df)

   ID    Name  Roll Number
0   1   Harsh           44
1   2  Sparsh           60
2   3   Rohan           48
3   4  Anupam           52

<h2><b>List Based Practice Problem :<b></h2>

In [103]:
# Q1. Create a list with integers from 1 to 10.
print("List of Intgers from 1 to 10: ",list(range(1,11)))

List of Intgers from 1 to 10:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
# Q2. Find the length of a list without using the `len()` function.
l = ['Python',45,12,'DSA','English']
print("Given list: ",l)
count=0
for i in l:
    count+=1

print("Length of List l: ",count)

Given list:  ['Python', 45, 12, 'DSA', 'English']
Length of List l:  5

In [114]:
# Q3. Append an element to the end of a list.
l = ['Python',45,12,'DSA','English']
print("Given list: ",l)
l.append('SQL')
print('List after: ',l)

Given list:  ['Python', 45, 12, 'DSA', 'English']
List after:  ['Python', 45, 12, 'DSA', 'English', 'SQL']

In [118]:
# Q4. Insert an element at a specific index in a list.
l = ['Python',45,12,'DSA','English']
print("Given list: ",l)
l.insert(0,"Hello")
print('List after: ',l)

Given list:  ['Python', 45, 12, 'DSA', 'English']
List after:  ['Hello', 'Python', 45, 12, 'DSA', 'English']

In [119]:
# Q5. Remove an element from a list by its value.
l = ['Hello', 'Python', 45, 12, 'DSA', 'English']
print("Given list: ",l)
l.remove('Hello')
print('List after: ',l)

Given list:  ['Hello', 'Python', 45, 12, 'DSA', 'English']
List after:  ['Python', 45, 12, 'DSA', 'English']

In [121]:
# Q6. Remove an element from a list by its index.
l = ['Hello', 'Python', 45, 12, 'DSA', 'English']
n = int(input("Enter index of element to remove: "))
print("Given list: ",l," and index of element to remove: "+str(n))
l.remove(l[n])
print('List after: ',l)

Given list:  ['Hello', 'Python', 45, 12, 'DSA', 'English']  and index of element to remove: 2
List after:  ['Hello', 'Python', 12, 'DSA', 'English']

In [127]:
# Q7. Check if an element exists in a list.
l = ['Hello', 'Python', 45, 12, 'DSA', 'English']
w = input("Enter element to search: ")
print("Given list: ",l," and element to search: "+str(n))
if w in l:
    print("Yes, element '"+str(w)+"' exist in list l")
elif int(w) in l:
    print("Yes, element '"+str(w)+"' exist in list l")
else:
    print("No, element '"+str(w)+"' doesnot exist in list l")

Given list:  ['Hello', 'Python', 45, 12, 'DSA', 'English']  and element to search: 2
Yes, element 'Hello' exist in list l

In [135]:
# Q8. Find the index of the first occurrence of an element in a list.
l = ['Hello', 'Python', 45, 12, 'DSA', 'English','DSA']
print("Given list: ",l)
print("Index of first occurence of element 'DSA':",l.index('DSA'))

Given list:  ['Hello', 'Python', 45, 12, 'DSA', 'English', 'DSA']
Index of first occurence of element 'DSA': 4

In [136]:
# Q9. Count the occurrences of an element in a list.
l = ['Hello', 'Python', 45, 12, 'DSA', 'English','DSA']
print("Given list: ",l)
print("Number of occurences of element 'DSA':",l.count('DSA'))

Given list:  ['Hello', 'Python', 45, 12, 'DSA', 'English', 'DSA']
Number of occurences of element 'DSA': 2

In [137]:
# Q10. Reverse the order of elements in a list.
l = ['Hello', 'Python', 45, 12, 'DSA', 'English','DSA']
print("Given list: ",l)
print("List after reverse:",l[::-1])

Given list:  ['Hello', 'Python', 45, 12, 'DSA', 'English', 'DSA']
List after reverse: ['DSA', 'English', 'DSA', 12, 45, 'Python', 'Hello']

In [140]:
# Q11. Sort a list in ascending order.
l = [4,1,7,9,2,6]
print("Given List: ",l)
print("List after sorting in ascending order: ",sorted(l))

Given List:  [4, 1, 7, 9, 2, 6]
List after sorting in ascending order:  [1, 2, 4, 6, 7, 9]

In [141]:
# Q12. Sort a list in descending order.
l = [4,1,7,9,2,6]
print("Given List: ",l)
print("List after sorting in ascending order: ",sorted(l,reverse=True))

Given List:  [4, 1, 7, 9, 2, 6]
List after sorting in ascending order:  [9, 7, 6, 4, 2, 1]

In [144]:
# Q13. Create a list of even numbers from 1 to 20.
l = [i for i in range(1,21) if i%2==0]
print("A list of even numbers from 1 to 20: ",l)

A list of even numbers from 1 to 20:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [145]:
# Q14. Create a list of odd numbers from 1 to 20.
l = [i for i in range(1,21) if i%2!=0]
print("A list of odd numbers from 1 to 20: ",l)

A list of odd numbers from 1 to 20:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [148]:
# Q15. Find the sum of all elements in a list.
l = list(range(3,15,2))
print("Given list: ",l)
print("Sum of all the elements in list: ",sum(l))

Given list:  [3, 5, 7, 9, 11, 13]
Sum of all the elements in list:  48

In [149]:
# Q16. Find the maximum value in a list.
l = [4,1,88,7,9,2,6,12,64,22,78,21,44,32,12]
print("Given List: ",l)
print("Maximum Value in list: ",max(l))

Given List:  [4, 1, 88, 7, 9, 2, 6, 12, 64, 22, 78, 21, 44, 32, 12]
Maximum Value in list:  88

In [151]:
# Q17. Find the minimum value in a list.
l = [4,1,88,7,9,2,6,12,64,22,78,21,44,32,12]
print("Given List: ",l)
print("Minimum Value in list: ",min(l))

Given List:  [4, 1, 88, 7, 9, 2, 6, 12, 64, 22, 78, 21, 44, 32, 12]
Minimum Value in list:  1

In [153]:
# Q18. Create a list of squares of numbers from 1 to 10.
l = [i**2 for i in range(1,11)]
print("A list of squares of numbers from 1 to 10: ",l)

A list of squares of numbers from 1 to 10:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [159]:
# Q19. Create a list of random numbers.
import random
l = [random.randint(3,52) for i in range(1,11)]
print("Given String: ",l)

Given String:  [27, 52, 40, 7, 29, 49, 10, 4, 14, 21]

In [163]:
# Q20. Remove duplicates from a list.
l = [4,1,2,6,6,78,21,21,12]
print("Given String: ",l)
l = list(set(l))
print("String after removing duplicate: ",l)

Given String:  [4, 1, 2, 6, 6, 78, 21, 21, 12]
String after removing duplicate:  [1, 2, 4, 6, 12, 78, 21]

In [167]:
# Q21. Find the common elements between two lists.
l1 = ['Hello','Python','World',1,6,7]
print("List l1: ",l1)
l2 = [7,6,'Hello',9,2,4,2]
print("List l2: ",l2)
l3 = [i for i in l1 if i in l2]
print("Common elements between list l1 and l2: ",l3)

List l1:  ['Hello', 'Python', 'World', 1, 6, 7]
List l2:  [7, 6, 'Hello', 9, 2, 4, 2]
Common elements between list l1 and l2:  ['Hello', 6, 7]

In [176]:
# Q22. Find the difference between two lists.
l1 = ['Hello','Python','World',1,6,7]
print("List l1: ",l1)
l2 = [7,6,'Hello',9,2,4,2]
print("List l2: ",l2)
l3 = [i for i in l1 if i not in l2]
l4 = [i for i in l2 if i not in l1]
l5 = list(set(l3+l4))
print("Different elements between list l1 and l2: ",l5)

List l1:  ['Hello', 'Python', 'World', 1, 6, 7]
List l2:  [7, 6, 'Hello', 9, 2, 4, 2]
Different elements between list l1 and l2:  [1, 2, 4, 9, 'World', 'Python']

In [172]:
# Q23. Merge two lists.
l1 = ['Hello','Python','World',1,6,7]
print("List l1: ",l1)
l2 = [7,6,'Hello',9,2,4,2]
print("List l2: ",l2)
l3 = l1+l2
print("Merge list l1 and l2: ",l3)

List l1:  ['Hello', 'Python', 'World', 1, 6, 7]
List l2:  [7, 6, 'Hello', 9, 2, 4, 2]
Merge list l1 and l2:  ['Hello', 'Python', 'World', 1, 6, 7, 7, 6, 'Hello', 9, 2, 4, 2]

In [180]:
# Q24. Multiply all elements in a list by 2.
l = [27, 52, 40, 7, 29, 49, 10, 4, 14, 21]
print("Given List: ",l)
mult_two = list(map(lambda a: a*2,l))
print("List after multiply all the elements by 2: ",mult_two)

Given List:  [27, 52, 40, 7, 29, 49, 10, 4, 14, 21]
List after multiply all the elements by 2:  [54, 104, 80, 14, 58, 98, 20, 8, 28, 42]

In [181]:
# Q25. Filter out all even numbers from a list.
l = [3,4,5,6,32,1,3,7,9,21,22]
print("Given List: ",l)
filter_even = list(filter(lambda a: a%2==0,l))
print("List after filter out all even number: ",filter_even)

Given List:  [3, 4, 5, 6, 32, 1, 3, 7, 9, 21, 22]
List after filter out all even number:  [4, 6, 32, 22]

In [3]:
# Q26. Convert a list of strings to a list of integers.
l = ['1','2','5','7','9']
print("Given list of strings: ",l)
l_i = [int(i) for i in l]
print("List of integers: ",l_i)

Given list of strings:  ['1', '2', '5', '7', '9']
List of integers:  [1, 2, 5, 7, 9]

In [5]:
# Q27. Convert a list of integers to a list of strings.
l_i = [1, 2, 5, 7, 9]
print("Given list of integers: ",l_i)
l = [str(i) for i in l]
print("List of strings: ",l)

Given list of integers:  [1, 2, 5, 7, 9]
List of strings:  ['1', '2', '5', '7', '9']

In [1]:
# Q28. Flatten a nested list.
l = [[2,3],[7],[0,1,5,7,8]]
print("Given List: ",l)
fl = [i for nest in l for i in nest]
print("List after flatten: ",fl)

Given List:  [[2, 3], [7], [0, 1, 5, 7, 8]]
List after flatten:  [2, 3, 7, 0, 1, 5, 7, 8]

In [5]:
# Q29. Create a list of the first 10 Fibonacci numbers.
def fib(n):
    if n==0:
        return 0
    elif n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)

l = []
for i in range(0,11):
    l.append(fib(i))

print("List of first 10 Fibonacci numbers: ",l)

List of first 10 Fibonacci numbers:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [8]:
# Q30. Check if a list is sorted.
def check_sort(l):
    if l == sorted(l):
        return True
    return False

l1 = [1,2,4,7,9,13]
print("Given list l1: ",l1)

if check_sort(l1):
    print("List l1 is sorted")
else:
    print("List l1 is not sorted")

l2 = [3,6,7,1,5,2,4]
print("Given list l2: ",l2)
if check_sort(l2):
    print("List l2 is sorted")
else:
    print("List l2 is not sorted")

Given list l1:  [1, 2, 4, 7, 9, 13]
List l1 is sorted
Given list l2:  [3, 6, 7, 1, 5, 2, 4]
List l2 is not sorted

In [14]:
# Q31. Rotate a list to the left by `n` positions.
l = [1,2,3,4,5,6,7]
print("Given List: ",l)
n = int(input("Enter N for rotation: "))
l = l[n:]+l[:n]
print(f"List after {n} left rotation: ",l)

Given List:  [1, 2, 3, 4, 5, 6, 7]
List after 3 left rotation:  [4, 5, 6, 7, 1, 2, 3]

In [18]:
# Q32. Rotate a list to the right by `n` positions.
l = [1,2,3,4,5,6,7]
print("Given List: ",l)
n = int(input("Enter N for rotation: "))
l = l[-n:]+l[:-n]
print(f"List after {n} right rotation: ",l)

Given List:  [1, 2, 3, 4, 5, 6, 7]
List after 3 right rotation:  [5, 6, 7, 1, 2, 3, 4]

In [22]:
# Q33. Create a list of prime numbers up to 50.
def prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True

l =[]

for i in range(2,51):
    if prime(i):
        l.append(i)

print("List of Prime Numbers upto 50: ",l)

List of Prime Numbers upto 50:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [31]:
# Q34. Split a list into chunks of size `n`.
l = [1,2,4,7,6,8,3,12,45,21,56,42]
print("Given List: ",l)
n = int(input("Enter n to divide list in chunks: "))
x = [ l[i:i+n] for i in range(0,len(l),n)]
print("List after: ",x)

Given List:  [1, 2, 4, 7, 6, 8, 3, 12, 45, 21, 56, 42]
List after:  [[1, 2, 4, 7], [6, 8, 3, 12], [45, 21, 56, 42]]

In [40]:
# Q35. Find the second largest number in a list.
l = [1,2,4,7,6,8,3,12,45,21,56,31]
print("Given List: ",l)
print("Second Largest Number in list: ",sorted(l)[-2])

Given List:  [1, 2, 4, 7, 6, 8, 3, 12, 45, 21, 56, 31]
Second Largest Number in list:  45

In [43]:
# Q36. Replace every element in a list with its square.
l = [1,2,4,7,6,8,3,12,45,21,56,31]
print("Given List: ",l)
sq_l = list(map(lambda a: a**2,l))
print("List after square of each element: ",sq_l)

Given List:  [1, 2, 4, 7, 6, 8, 3, 12, 45, 21, 56, 31]
List after square of each element:  [1, 4, 16, 49, 36, 64, 9, 144, 2025, 441, 3136, 961]

In [52]:
# Q37. Convert a list to a dictionary where list elements become keys and their indices become values.
l = ['Sun','Moon','Earth','Mars']
print("Given List: ",l)
d = dict()

for i in range(0,len(l)):
    d[l[i]] = i

print("Dictionary: ",d)

Given List:  ['Sun', 'Moon', 'Earth', 'Mars']
Dictionary:  {'Sun': 0, 'Moon': 1, 'Earth': 2, 'Mars': 3}

In [54]:
# Q38. Shuffle the elements of a list randomly.
import random

l = ["apple", "banana", "cherry","cake","cold drink","tea","coffee"]
print("Given List: ",l)
random.shuffle(l)

print("List after Suffle: ",l)

Given List:  ['apple', 'banana', 'cherry', 'cake', 'cold drink', 'tea', 'coffee']
List after Suffle:  ['cake', 'coffee', 'cold drink', 'apple', 'cherry', 'banana', 'tea']

In [10]:
# Q39. Create a list of the first 10 factorial numbers.
def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

l = [fact(i) for i in range(0,11)]
print("List of first 10 factorials: ",l)

List of first 10 factorials:  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [21]:
# Q40. Check if two lists have at least one element in common.
def check_el(l1,l2):
    if len(l1)>len(l2):
        for i in l1:
            if i in l2:
                return True
    else:
        for i in l2:
            if i in l1:
                return True
    return False

l1 = [1,4,6,'Python','Django','SQL']
l2 = [5,7,8,'JAVA','SQL']

if check_el(l1,l2):
    print("Yes")
else:
    print("No")

Yes

In [31]:
# Q41. Remove all elements from a list.
l1 = [12,45,2,1,7,32,9,8,4]
print("Given List: ",l1)
l1.clear()
print("List after: ",l1)

Given List:  [12, 45, 2, 1, 7, 32, 9, 8, 4]
List after:  []

In [56]:
# Q42. Replace negative numbers in a list with 0.
l1 = [-1,3,6,-3,-6,7,-19]
print("Given list: ",l1)
l1 = [0 if l1[i]<0 else l1[i] for i in range(len(l1))]
print("List after: ",l1)

Given list:  [-1, 3, 6, -3, -6, 7, -19]
List after:  [0, 3, 6, 0, 0, 7, 0]

In [49]:
# Q43. Convert a string into a list of words.
s = "Hello World I am Python"
print("Given String: ",s)
ls = s.split()
print("List: ",ls)

Given String:  Hello World I am Python
List:  ['Hello', 'World', 'I', 'am', 'Python']

In [47]:
# Q44. Convert a list of words into a string.
ls = ['Hello','World','I','am','Python']
print("Given list: ",ls)
s = " ".join(ls)
print("String: ",s)

Given list:  ['Hello', 'World', 'I', 'am', 'Python']
String:  Hello World I am Python

In [58]:
# Q45. Create a list of the first `n` powers of 2.
n = int(input("Enter n for list of first n powers of 2: "))
l1 = [2**i for i in range(n)]
print("List: ",l1)

List:  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [96]:
# Q46. Find the longest string in a list of strings.
l1 = ["hello","python","programming","Data Analytics","Data Science"]
print("Given List: ",l1)
st = dict()
for i in l1:
    st[i]=len(i)

new_dict = sorted(st.items(),key=lambda i: i[1])
print("largest string: ",new_dict[-1])

Given List:  ['hello', 'python', 'programming', 'Data Analytics', 'Data Science']
largest string:  ('Data Analytics', 14)

In [101]:
# Q47. Find the shortest string in a list of strings.
l1 = ["hello","python","programming","Data Analytics","Data Science"]
print("Given List: ",l1)
st = dict()
for i in l1:
    st[i]=len(i)

new_dict = sorted(st.items(),key=lambda i: i[1])
print("Shortest string: ",new_dict[0])

Given List:  ['hello', 'python', 'programming', 'Data Analytics', 'Data Science']
Shortest string:  ('hello', 5)

In [93]:
# Q48. Create a list of the first `n` triangular numbers.
n = int(input("Enter n for list of first n trinangular number: "))
l1 = [(i * (i + 1)) // 2 for i in range(1, n+1)]
print("List: ",l1)

List:  [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [105]:
# Q49. Check if a list contains another list as a subsequence.
def check_sub(l1,sb1):
    it = iter(l1)
    return all(elem in it for elem in sb1)

l1 = [1,2,5,6,8,9,10]
print("Given List: ",l1)
sb1 = [5,8,10]
print("Sublist: ",sb1)

if check_sub(l1,sb1):
    print("Yes, sb1 is subsequence of list l1")
else:
    print("No")

Given List:  [1, 2, 5, 6, 8, 9, 10]
Sublist:  [5, 8, 10]
Yes, sb1 is subsequence of list l1

In [100]:
# Q50. Swap two elements in a list by their indices.
l1 = ["hello","python","programming","Data Analytics","Data Science"]
print("Given List: ",l1)
i, j = map(int, input("Enter i and j indices: ").split())
temp = l1[i]
l1[i] = l1[j]
l1[j] = temp

print("List after: ",l1)

Given List:  ['hello', 'python', 'programming', 'Data Analytics', 'Data Science']
List after:  ['hello', 'Data Analytics', 'programming', 'python', 'Data Science']

<h2>Tuple based practice problems<h2>

In [110]:
# Q1. Create a tuple with integers from 1 to 5.
t1 = tuple([i for i in range(1,6)])
print("Tuple with integers from 1 to 5",t1)

Tuple with integers from 1 to 5 (1, 2, 3, 4, 5)

In [114]:
# Q2. Access the third element of a tuple.
print("Third element in tuple t1: ",t1[2])

Third element in tuple t1:  3

In [117]:
# Q3. Find the length of a tuple without using the `len()` function.
print("Give Tuple: ",t1)
count = 0
for i in t1:
    count+=1

print("Length of tuple t1 with using len() function: ",count)

Give Tuple:  (1, 2, 3, 4, 5)
Length of tuple t1 with using len() function:  5

In [127]:
# Q4. Count the occurrences of an element in a tuple.
t1 = (1,2,3,2,5,6,7,8,9)
print("Given Tuple: ",t1)
print("Occurence of element 2 in t1 tuple: ",t1.count(2))

Given Tuple:  (1, 2, 3, 2, 5, 6, 7, 8, 9)
Occurence of element 2 in t1 tuple:  2

In [129]:
# Q5. Find the index of the first occurrence of an element in a tuple.
print("Given tuple: ",t1)
print("First index of first occurrence of element 2: ",t1.index(2))

Given tuple:  (1, 2, 3, 2, 5, 6, 7, 8, 9)
First index of first occurrence of element 2:  1

In [138]:
# Q6. Check if an element exists in a tuple
print("Given tuple t1: ",t1)
num = int(input("Enter element: "))
if t1.count(num)>0:
    print(f"Yes, {num} present in Tuple")
else:
    print(f"No, {num} not present in tuple")

Given tuple t1:  (1, 2, 3, 2, 5, 6, 7, 8, 9)
Yes, 2 present in Tuple

In [140]:
# Q7. Convert a tuple to a list.
t2 = (2,4,5,7,8,9,4,1)
print("Type of t2: ",type(t2))
t2 = list(t2)
print("Type of t2 after converting to list: ",type(t2))

Type of t2:  <class 'tuple'>
Type of t2 after converting to list:  <class 'list'>

In [144]:
# Q8. Convert a list to a tuple.
print("Given list t2: ",t2)
t2 = tuple(t2)
print("Given tuple t2: ",t2)

Given list t2:  [2, 4, 5, 7, 8, 9, 4, 1]
Given tuple t2:  (2, 4, 5, 7, 8, 9, 4, 1)

In [147]:
# Q9. Unpack the elements of a tuple into variables.
t3 = ("Harsh","B.tect","CSE",544,90)
print("Given tuple t3: ",t3)

name, *course, roll_num, marks = t3
print("Name: ",name)
print("Course: ",course)
print("Roll Number: ",roll_num)
print("Marks: ",marks)

Given tuple t3:  ('Harsh', 'B.tect', 'CSE', 544, 90)
Name:  Harsh
Course:  ['B.tect', 'CSE']
Roll Number:  544
Marks:  90

In [151]:
# Q10. Create a tuple of even numbers from 1 to 10.
t1 = tuple([i for i in range(1,11) if i%2==0])
print("Tuple for even number from 1 to 10: ",t1)

Tuple for even number from 1 to 10:  (2, 4, 6, 8, 10)

In [153]:
# Q11. Create a tuple of odd numbers from 1 to 10.
t1 = tuple([i for i in range(1,11) if i%2!=0])
print("Tuple for even number from 1 to 10: ",t1)

Tuple for even number from 1 to 10:  (1, 3, 5, 7, 9)

In [161]:
# Q12. Concatenate two tuples.
t1 = (2,3,5,6)
print("Tuple t1: ",t1)
t2 = (4,5,7,8)
print("Tuple t2: ",t2)
t3 = t1+t2
print("Tuple t3 after concatenating t1 and t2: ",t3)

Tuple t1:  (2, 3, 5, 6)
Tuple t2:  (4, 5, 7, 8)
Tuple t3 after concatenating t1 and t2:  (2, 3, 5, 6, 4, 5, 7, 8)

In [163]:
# Q13. Repeat a tuple three times.
t1 = (1,2,3)
print("Given Tuple: ",t1)
print("Repeating tuple t1 3 times: ",t1*3)

Given Tuple:  (1, 2, 3)
Repeating tuple t1 3 times:  (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [166]:
# Q14. Check if a tuple is empty.
t1 = (1,2,3)
t2 = ()

if len(t1) == 0:
    print("Tuple t1 is empty")
else:
    print("Tuple t1 is not empty")

if len(t2) == 0:
    print("Tuple t2 is empty")
else: 
    print("Tuple t2 is not empty")

Tuple t1 is not empty
Tuple t2 is empty

In [169]:
# Q15. Create a nested tuple.
t1 = ((1,3,5,7),(2,4,6,8))
print("Nested tuple t1: ",t1)

Nested tuple t1:  ((1, 3, 5, 7), (2, 4, 6, 8))

In [174]:
# Q16. Access the first element of a nested tuple.
print("Given nested  tuple t1: ",t1)
print("First element of nested tuple t1: " ,t1[0][0])

Given nested  tuple t1:  ((1, 3, 5, 7), (2, 4, 6, 8))
First element of nested tuple t1:  1

In [179]:
# Q17. Create a tuple with a single element.
t1 = tuple([2])
print("Tuple t1: ",t1)
print(type(t1))

Tuple t1:  (2,)
<class 'tuple'>

In [181]:
# Q18. Compare two tuples.
t1 = (6,9,15)
print("Tuple t1: ",t1)
t2 = (13,17,24)
print("Tuple t2: ",t2)

res = all(x < y for x,y in zip(t1,t2))

print("Comparing elements in t2 are greater than elements in t1: ",res)

Tuple t1:  (6, 9, 15)
Tuple t2:  (13, 17, 24)
Comparing elements in t2 are greater than elements in t1:  True

In [184]:
# Q19. Delete a tuple.
tup = ("Car","Bus","Truck")
print("Tuple before deletion: ",tup)
del tup
print("Tuple after deletion throws error",tup)

Tuple before deletion:  ('Car', 'Bus', 'Truck')

NameError: name 'tup' is not defined

In [190]:
# Q20. Slice a tuple
t1 = (3,5,7,9,2,1)
print("Given tuple t1: ",t1)
print("Tuple t1 using slice operation : ",t1[2:5])

Given tuple t1:  (3, 5, 7, 9, 2, 1)
Tuple t1 using slice operation :  (7, 9, 2)

In [194]:
# Q21. Find the maximum value in a tuple.
print("Given tuple t1: ",t1)
print("Maximum element in tuple t1: ",max(t1))

Given tuple t1:  (3, 5, 7, 9, 2, 1)
Maximum element in tuple t1:  9

In [196]:
# Q22. Find the minimum value in a tuple.
print("Given tuple t1: ",t1)
print("Minimum element in tuple t1: ",min(t1))

Given tuple t1:  (3, 5, 7, 9, 2, 1)
Minimum element in tuple t1:  1

In [203]:
# Q23. Convert a string to a tuple of characters.
s1 = "Hello world this is python"
print("Given string: ",s1)
t1 = tuple(s1.split())
print("Tuple of string: ",t1)

Given string:  Hello world this is python
Tuple of string:  ('Hello', 'world', 'this', 'is', 'python')

In [3]:
# Q24. Convert a tuple of characters to a string.
t1 = ('Hello','world','this','is','python')
print("Given Tuple t1: ",t1)
s = " ".join(t1)
print("String of tuple character: ",s)

Given Tuple t1:  ('Hello', 'world', 'this', 'is', 'python')
String of tuple character:  Hello world this is python

In [5]:
# Q25. Create a tuple from multiple data types.
t1 = (1,"Hello",2.4,[4,6],(23,88),{"first":1,"second":2})

print("Tuple with multiple data types: ",t1)

Tuple with multiple data types:  (1, 'Hello', 2.4, [4, 6], (23, 88), {'first': 1, 'second': 2})

In [8]:
# Q26. Check if two tuples are identical.
t1 = (1,2,4)
print("Tuple t1: ",t1)
t2 = (1,2,4)
print("Tuple t2: ",t2)

if t1==t2:
    print("tuple t1 and t2 are identical")
else:
    print("tuple t1 and t2 are not identical")

Tuple t1:  (1, 2, 4)
Tuple t2:  (1, 2, 4)
tuple t1 and t2 are identical

In [14]:
# Q27. Sort the elements of a tuple.
t1 = (9,4,1,6,5,2,7)
print("Tuple t1: ",t1)
t1 = tuple(sorted(t1))
print("Sorted tuple t1: ",t1)

Tuple t1:  (9, 4, 1, 6, 5, 2, 7)
Sorted tuple t1:  (1, 2, 4, 5, 6, 7, 9)

In [18]:
# Q28. Convert a tuple of integers to a tuple of strings.
t1 = (1,2,4,6,8)
print("Given tuple: ",t1)
st_tuple = tuple(map(lambda a: str(a),t1))
print("Tuple of strings: ",st_tuple)

Given tuple:  (1, 2, 4, 6, 8)
Tuple of strings:  ('1', '2', '4', '6', '8')

In [21]:
# Q29. Convert a tuple of strings to a tuple of integers.
t1 = ('1','2','4','6','8')
print("Given tuple: ",t1)
st_tuple = tuple(map(lambda a: int(a),t1))
print("Tuple of integers: ",st_tuple)

Given tuple:  ('1', '2', '4', '6', '8')
Tuple of integers:  (1, 2, 4, 6, 8)

In [24]:
# Q30. Merge two tuples.
t1 = (1,12,4,5,6)
print("Tuple t1: ",t1)
t2 = (3,5,7,31,45)
print("tuple t2: ",t2)
print("tuple after merging: ",t1+t2)

Tuple t1:  (1, 12, 4, 5, 6)
tuple t2:  (3, 5, 7, 31, 45)
tuple after merging:  (1, 12, 4, 5, 6, 3, 5, 7, 31, 45)

In [40]:
# Q31. Flatten a nested tuple.
t1 = ((2,3),(2,7),(0,1))
print("Given tuple: ",t1)
res = tuple(item for sub_tuple in t1 for item in sub_tuple)
print("Flatten tuple: ",res)

Given tuple:  ((2, 3), (2, 7), (0, 1))
Flatten tuple:  (2, 3, 2, 7, 0, 1)

In [47]:
# Q32. Create a tuple of the first 5 prime numbers.
def check_prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True

t1 = tuple(i for i in range(2,6) if check_prime(i))

print("tuple of first 5 prime number: ",t1)

tuple of first 5 prime number:  (2, 3, 5)

In [50]:
# Q33. Check if a tuple is a palindrome.
t1 = (1,2,3,1)
print("Tuple t1: ",t1)
t2 = (1,2,2,1)
print("Tuple t2: ",t2)

if t1 == t1[::-1]:
    print("Tuple t1 is a pallindrome")
else:
    print("Tuple t1 is a not pallindrome")

if t2 == t2[::-1]:
    print("Tuple t2 is a pallindrome")
else:
    print("Tuple t2 is a not pallindrome")

Tuple t1:  (1, 2, 3, 1)
Tuple t2:  (1, 2, 2, 1)
Tuple t1 is a not pallindrome
Tuple t2 is a pallindrome

In [53]:
# Q34. Create a tuple of squares of numbers from 1 to 5.
t1 = tuple(i**2 for i in range(1,6))
print("Tuple of squares of numbers from 1 to 5: ",t1)

Tuple of squares of numbers from 1 to 5:  (1, 4, 9, 16, 25)

In [55]:
# Q35. Filter out all even numbers from a tuple.
t1 = (1,2,3,4,5,6,7,8,9,10)
print("Given tuple: ",t1)
t2 = tuple(filter(lambda a: a%2==0,t1))
print("Tuple after filtering out even numbers: ",t2)

Given tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple after filtering out even numbers:  (2, 4, 6, 8, 10)

In [57]:
# Q36. Multiply all elements in a tuple by 2.
t1 = (1,2,3,4,5,6,7,8,9,10)
print("Given tuple: ",t1)
t1 = tuple(map(lambda a: a*2,t1))
print("Tuple after multiplying all elements by 2: ",t1)

Given tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple after multiplying all elements by 2:  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [59]:
# Q37. Create a tuple of random numbers.
import random
l = tuple(random.randint(3,52) for i in range(1,11))
print("Given tuple: ",l)

Given tuple:  (22, 46, 12, 35, 28, 5, 24, 22, 52, 32)

In [62]:
# Q38. Check if a tuple is sorted.
t1 = (2,4,7,8,22,53)
print("Given tuple: ",t1)
if t1 == tuple(sorted(t1)):
    print("Tuple t1 is sorted")
else: 
    print("Tuple t1 is not sorted")

Given tuple:  (2, 4, 7, 8, 22, 53)
Tuple t1 is sorted

In [70]:
# Q39. Rotate a tuple to the left by `n` positions.
t1 = (2,4,7,8,22,53)
print("Given tuple: ",t1)
n = 3
t1 = t1[n:] + t1[:n]
print(f"Rotating tuple n={n} left: ",t1)

Given tuple:  (2, 4, 7, 8, 22, 53)
Rotating tuple n=3 left:  (8, 22, 53, 2, 4, 7)

In [71]:
# Q40. Rotate a tuple to the right by `n` positions.
t1 = (2,4,7,8,22,53)
print("Given tuple: ",t1)
n = 2
t1 = t1[-n:] + t1[:-n]
print(f"Rotating tuple n={n} left: ",t1)

Given tuple:  (2, 4, 7, 8, 22, 53)
Rotating tuple n=2 left:  (22, 53, 2, 4, 7, 8)

In [75]:
# Q41. Create a tuple of the first 5 Fibonacci numbers.
def fib(n):
    if n==0:
        return 0
    elif n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)

t1 = tuple(fib(i) for i in range(0,6))
print("List of first 5 Fibonacci numbers: ",t1)

List of first 5 Fibonacci numbers:  (0, 1, 1, 2, 3, 5)

In [81]:
# Q42. Create a tuple from user input.
user_input = input("Enter elements of tuple, seperated by spaces: ")
t1 = tuple(user_input.split())
print("Tuple: ",t1)

Tuple:  ('3', '6', '2', '14', '7', '8', '53')

In [84]:
# Q43. Swap two elements in a tuple.
t1 = ("hello","python","programming","Data Analytics","Data Science")
print("Given tuple: ",t1)
i, j = map(int, input("Enter i and j indices: ").split())
t1 = list(t1)
temp = t1[i]
t1[i] = t1[j]
t1[j] = temp

t1 = tuple(t1)
print("tuple after: ",t1)

Given tuple:  ('hello', 'python', 'programming', 'Data Analytics', 'Data Science')
tuple after:  ('hello', 'python', 'Data Science', 'Data Analytics', 'programming')

In [87]:
# Q44. Reverse the elements of a tuple.
t1 = (1,3,5,8,9)
print("Given tuple: ",t1)
t1 = t1[::-1]
print("Reversed tuple: ",t1)

Given tuple:  (1, 3, 5, 8, 9)
Reversed tuple:  (9, 8, 5, 3, 1)

In [94]:
# Q45. Create a tuple of the first `n` powers of 2.
n = int(input("Enter n for tuple of first n powers of 2: "))
t1 = tuple(2**i for i in range(n))
print("Tuple: ",t1)

Tuple:  (1, 2, 4, 8, 16, 32)

In [99]:
# Q46. Find the longest string in a tuple of strings.
t1 = ("hello","python","programming","Data Analytics","Data Science")
print("Given Tuple: ",t1)
st = dict()
for i in t1:
    st[i]=len(i)

new_dict = sorted(st.items(),key=lambda i: i[1])
print("largest string: ",new_dict[-1])

Given Tuple:  ('hello', 'python', 'programming', 'Data Analytics', 'Data Science')
largest string:  ('Data Analytics', 14)

In [100]:
# Q47. Find the shortest string in a tuple of strings.
t1 = ("hello","python","programming","Data Analytics","Data Science")
print("Given Tuple: ",t1)
st = dict()
for i in t1:
    st[i]=len(i)

new_dict = sorted(st.items(),key=lambda i: i[1])
print("Shortest string: ",new_dict[0])

Given Tuple:  ('hello', 'python', 'programming', 'Data Analytics', 'Data Science')
Shortest string:  ('hello', 5)

In [103]:
# Q48. Create a tuple of the first `n` triangular numbers.
n = int(input("Enter n for tuple of first n trinangular number: "))
t1 = tuple((i * (i + 1)) // 2 for i in range(1, n+1))
print("Tuple: ",t1)

Tuple:  (1, 3, 6, 10, 15, 21, 28)

In [105]:
# Q49. Check if a tuple contains another tuple as a subsequence.
def check_sub(t1,sb1):
    it = iter(t1)
    return all(elem in it for elem in sb1)

t1 = (1,2,5,6,8,9,10)
print("Given tuple: ",t1)
sb1 = (5,8,10)
print("Subtuple: ",sb1)

if check_sub(t1,sb1):
    print("Yes, sb1 is subsequence of tuple t1")
else:
    print("No")

Given tuple:  (1, 2, 5, 6, 8, 9, 10)
Subtuple:  (5, 8, 10)
Yes, sb1 is subsequence of tuple t1

In [111]:
# Q50. Create a tuple of alternating 1s and 0s of length `n`.
t1 = (1 if i%2==0 else 0 for i in range(0,n))
t1 = tuple(t1)
print("Tuple of altenate 0s and 1s: ",t1)

Tuple of altenate 0s and 1s:  (1, 0, 1, 0, 1, 0, 1)

<h2>Set Based Practice Problem :</h2>

In [115]:
# Q1. Create a set with integers from 1 to 5.
s1 = {i for i in range(1,6)}
print("Set with integers from 1 to 5: ",s1)

Set with integers from 1 to 5:  {1, 2, 3, 4, 5}

In [118]:
# Q2. Add an element to a set.
s1 = {4,6,7,8}
print("Given set: ",s1)
s1.add(3)
print("set after adding element '3': ",s1)

Given set:  {8, 4, 6, 7}
set after adding element '3':  {3, 4, 6, 7, 8}

In [119]:
# Q3. Remove an element from a set.
print("Given Set: ",s1)
s1.remove(3)
print("Set after removing element '3': ",s1)

Given Set:  {3, 4, 6, 7, 8}
Set after removing element '3':  {4, 6, 7, 8}

In [122]:
# Q4. Check if an element exists in a set.
s1 = {1,2,5,6,8,9,34,12,57}
print("Given set s1: ",s1)
n = int(input("Enter number to find in set s1: "))
if n in s1:
    print(f"Element '{n}' present in set s1")
else:
    print(f"Element '{n}' not present in set s1")

Given set s1:  {1, 2, 34, 5, 6, 8, 9, 12, 57}
Element '5' present in set s1

In [126]:
# Q5. Find the length of a set without using the `len()` function.
s1 = {1,2,5,6,8,9,34,12,57}
print("Given set: ",s1)
count = 0
for i in s1:
    count+=1

print("Number of elements in set s1: ",count)

Given set:  {1, 2, 34, 5, 6, 8, 9, 12, 57}
Number of elements in set s1:  9

In [128]:
# Q6. Clear all elements from a set.
s1 = {24,56,3,1,4,6,7}
print("Given set: ",s1)
s1.clear()
print("Set s1 after using clear function: ",s1)

Given set:  {1, 3, 4, 6, 7, 24, 56}
Set s1 after using clear function:  set()

In [130]:
# Q7. Create a set of even numbers from 1 to 10.
s1 = {i for i in range(1,11) if i%2==0}
print("Set of even numbers from 1 to 10: ",s1)

Set of even numbers from 1 to 10:  {2, 4, 6, 8, 10}

In [132]:
# Q8. Create a set of odd numbers from 1 to 10.
s1 = {i for i in range(1,11) if i%2!=0}
print("Set of odd numbers from 1 to 10: ",s1)

Set of odd numbers from 1 to 10:  {1, 3, 5, 7, 9}

In [137]:
# Q9. Find the union of two sets.
s1 = {2,3,4,5}
print("Set s1: ",s1)
s2 = {4,5,6,8}
print("Set s2: ",s2)
print("s1 U s2: ", s1.union(s2))

Set s1:  {2, 3, 4, 5}
Set s2:  {8, 4, 5, 6}
s1 U s2:  {2, 3, 4, 5, 6, 8}

In [139]:
# Q10. Find the intersection of two sets.
s1 = {2,3,4,5}
print("Set s1: ",s1)
s2 = {4,5,6,8}
print("Set s2: ",s2)
print("s1 intersection s2: ", s1.intersection(s2))

Set s1:  {2, 3, 4, 5}
Set s2:  {8, 4, 5, 6}
s1 intersection s2:  {4, 5}

In [142]:
# Q11. Find the difference between two sets.
s1 = {2,3,4,5}
print("Set s1: ",s1)
s2 = {4,5,6,8}
print("Set s2: ",s2)
print("s1 difference s2: ", s1.difference(s2))

Set s1:  {2, 3, 4, 5}
Set s2:  {8, 4, 5, 6}
s1 difference s2:  {2, 3}

In [148]:
# Q12. Check if a set is a subset of another set.
s1 = {2,3,4,5}
print("Set s1: ",s1)
s2 = {4,5}
print("Set s2: ",s2)
if s1.issubset(s2):
    print("Yes, s1 is subset of s2")
elif s2.issubset(s1):
    print("Yes, s2 is subset of s1")
else:
    print("Neither s1 or s2 is subset of each other")

Set s1:  {2, 3, 4, 5}
Set s2:  {4, 5}
Yes, s2 is subset of s1

In [152]:
# Q13. Check if a set is a superset of another set.
s1 = {2,3,4,5}
print("Set s1: ",s1)
s2 = {4,5}
print("Set s2: ",s2)
if s1.issuperset(s2):
    print("Yes, s1 is superset of s2")
elif s2.issuperset(s1):
    print("Yes, s2 is superset of s1")
else:
    print("Neither s1 or s2 is superset of each other")

Set s1:  {2, 3, 4, 5}
Set s2:  {4, 5}
Yes, s1 is superset of s2

In [156]:
# Q14. Create a set from a list.
l1 = [3,5,6,8,4,4,5,3,2]
print("Given list: ",l1)
s1 = set(l1)
print("Set s1: ",s1)

Given list:  [3, 5, 6, 8, 4, 4, 5, 3, 2]
Set s1:  {2, 3, 4, 5, 6, 8}

In [159]:
# Q15. Convert a set to a list.
s1 = {2, 3, 4, 5, 6, 8}
print("Given set: ",s1)
l1 = list(s1)
print("List l1: ",l1)

Given set:  {2, 3, 4, 5, 6, 8}
List l1:  [2, 3, 4, 5, 6, 8]

In [181]:
# Q16. Remove a random element from a set.
import random
s1 = {1,3,2,5,7,8,9}
n = random.randint(min(s1),max(s1))
print("Given set: ",s1)
s1.remove(n)
print("Set s1 after removing random element: ",s1)

Given set:  {1, 2, 3, 5, 7, 8, 9}
Set s1 after removing random element:  {1, 2, 5, 7, 8, 9}

In [184]:
# Q17. Pop an element from a set.
s1 = {2,4,7,9,3,1,6}
print("Given set: ",s1)
s1.pop()
print("Set after pop: ",s1)

Given set:  {1, 2, 3, 4, 6, 7, 9}
Set after pop:  {2, 3, 4, 6, 7, 9}

In [193]:
# Q18. Check if two sets have no elements in common.
s1 = {1,2,4,5}
print("set s1: ",s1)
s2 = {3,6,7}
print("set s2: ",s2)

if s1.intersection(s2) == set():
    print("s1 and s2 have no elements in common")
else:
    print("s1 and s2 have common elements")

set s1:  {1, 2, 4, 5}
set s2:  {3, 6, 7}
s1 and s2 have no elements in common

In [196]:
# Q19. Find the symmetric difference between two sets.
s1 = {1, 2, 3, 4, 5}
print("set s1: ",s1)
s2 = {6, 7, 3, 9, 4}
print("set s2: ",s2)
print("Symmetric difference between set s1 and s2: ",s1.symmetric_difference(s2))

set s1:  {1, 2, 3, 4, 5}
set s2:  {3, 4, 6, 7, 9}
Symmetric difference between set s1 and s2:  {1, 2, 5, 6, 7, 9}

In [204]:
# Q20. Update a set with elements from another set.
s1 = {3,5,7,8,9,2}
print("Set s1: ",s1)
s2 = {1,4,6,10}
print("Set s2: ",s2)
s1.update(s2)
print("set s1 after updating it with set s2: ",s1)

Set s1:  {2, 3, 5, 7, 8, 9}
Set s2:  {1, 10, 4, 6}
set s1 after updating it with set s2:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [208]:
# Q21. Create a set of the first 5 prime numbers.
def check_prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True

s1 = {i for i in range(2,6) if check_prime(i)}
print("Set of first 5 prime numbers: ",s1)

Set of first 5 prime numbers:  {2, 3, 5}

In [210]:
# Q22. Check if two sets are identical.
s1 = {1,2,3,4}
print("Set s1: ",s1)
s2 = {1,2,3,4}
print("Set s2: ",s2)
if s1==s2:
    print("Set s1 and s2 are identical")
else:
    print("Set s1 and s2 are not identical")

Set s1:  {1, 2, 3, 4}
Set s2:  {1, 2, 3, 4}
Set s1 and s2 are identical

In [215]:
# Q23. Create a frozen set.
s1 = frozenset(['Car','Bus','Truck'])
print("Frozen set s1: ",s1)
print("Type of set s1: ",type(s1))

Frozen set s1:  frozenset({'Bus', 'Truck', 'Car'})
Type of set s1:  <class 'frozenset'>

In [218]:
# Q24. Check if a set is disjoint with another set.
s1 = {1,2,3,4,5}
print("set s1: ",s1)
s2 = {6,7,8}
print("set s2: ",s2)

if s1.intersection(s2) == set():
    print("s1 is disjoint with s2")
else:
    print("s1 is not disjoint with s2")

set s1:  {1, 2, 3, 4, 5}
set s2:  {8, 6, 7}
s1 is disjoint with s2

In [220]:
# Q25. Create a set of squares of numbers from 1 to 5.
s1 = {i**2 for i in range(1,6)}
print("set of squares of numbers from 1 to 5: ",s1)

set of squares of numbers from 1 to 5:  {1, 4, 9, 16, 25}

In [223]:
# Q26. Filter out all even numbers from a set.
s1 = {1,2,3,4,5,6,7,8,9,10}
print("Given set: ",s1)
s2 = set(filter(lambda a: a%2==0,s1))
print("Filtering even number: ",s2)

Given set:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtering even number:  {2, 4, 6, 8, 10}

In [225]:
# Q27. Multiply all elements in a set by 2.
s1 = {1,2,3,4,5,6,7,8,9,10}
print("Given set: ",s1)
s2 = set(map(lambda a: a*2,s1))
print("Multiplying all elements in set by 2: ",s2)

Given set:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Multiplying all elements in set by 2:  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [227]:
# Q28. Create a set of random numbers.
import random
s1 = set(random.randint(3,52) for i in range(1,11))
print("Given set: ",s1)

Given set:  {32, 10, 43, 13, 47, 16, 15, 19, 21, 25}

In [230]:
# Q29. Check if a set is empty.
s1 = {2,3,5,6,8}
print("Set s1: ",s1)
s2 = set()
print("Set s2: ",s2)

if len(s1) == 0:
    print("Set s1 is empty")
else:
    print("Set s1 is not empty")

if len(s2)==0:
    print("Set s2 is empty")
else:
    print("Set s2 is not empty")

Set s1:  {2, 3, 5, 6, 8}
Set s2:  set()
Set s1 is not empty
Set s2 is empty

In [235]:
# Q30. Create a nested set (hint: use frozenset).
s1 = frozenset([1,2,3])
s2 = frozenset([4,5,6])
s3 = frozenset([11,22,33])

nested_set = {s1,s2,s3}

print("Nested set: ",nested_set)

Nested set:  {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({33, 11, 22})}

In [239]:
# Q31. Remove an element from a set using the discard method
s1 = {1,3,6,8,10}
print("Given set: ",s1)
s1.discard(6)
print("Set after using discard method: ",s1)

Given set:  {1, 3, 6, 8, 10}
Set after using discard method:  {1, 3, 8, 10}

In [241]:
# Q32. Compare two sets.
s1 = {6,9,15}
print("Set s1: ",s1)
s2 = {13,17,24}
print("Set s2: ",s2)

res = all(x < y for x,y in zip(s1,s2))

print("Comparing elements in s2 are greater than elements in s1: ",res)

Set s1:  {9, 6, 15}
Set s2:  {24, 17, 13}
Comparing elements in s2 are greater than elements in s1:  False

In [244]:
# Q33. Create a set from a string.
st1 = "Hello world this is python"
print("Given String: ",st1)
s1 = set(st1.split())
print("Set s1: ",s1)

Given String:  Hello world this is python
Set s1:  {'Hello', 'python', 'is', 'world', 'this'}

In [248]:
# Q34. Convert a set of strings to a set of integers.
s1 = {'Hello', 'python', 'is', 'world', 'this'}
print("Given set: ",s1)
st1 = " ".join(s1)
print("Given string: ",st1)

Given set:  {'world', 'this', 'python', 'Hello', 'is'}
Given string:  world this python Hello is

In [251]:
# Q35. Convert a set of integers to a set of strings.
s1 = {1,2,3,4,5}
print("Given set: ",s1)
s1 = set(map(lambda a: str(a),s1))
print("Set s1: ",s1)

Given set:  {1, 2, 3, 4, 5}
Set s1:  {'2', '3', '5', '1', '4'}

In [255]:
# Q36. Create a set from a tuple.
t1 = (1,2,3,4,5)
print("Given tuple: ",t1)
s1 = set(t1)
print("Given set: ",s1)

Given tuple:  (1, 2, 3, 4, 5)
Given set:  {1, 2, 3, 4, 5}

In [256]:
# Q37. Convert a set to a tuple.
s1 = {1,2,3,4,5}
print("Given set: ",s1)
t1 = tuple(s1)
print("Given tuple: ",t1)

Given set:  {1, 2, 3, 4, 5}
Given tuple:  (1, 2, 3, 4, 5)

In [259]:
# Q38. Find the maximum value in a set.
s1 = {3,5,7,8,2,13,31,4,15,78}
print("Given set: ",s1)
print("Maximum value in set: ",max(s1))

Given set:  {2, 3, 4, 5, 7, 8, 13, 78, 15, 31}
Maximum value in set:  78

In [261]:
# Q39. Find the minimum value in a set.
s1 = {3,5,7,8,2,13,31,4,15,78}
print("Given set: ",s1)
print("Minimum value in set: ",min(s1))

Given set:  {2, 3, 4, 5, 7, 8, 13, 78, 15, 31}
Minimum value in set:  2

In [265]:
# Q40. Create a set from user input.
user_input = input("Enter element of set, by leaving space between them: ")
s1 = set(user_input.split())
print("Set: ",s1)

Set:  {'21', '6', '79', '1', '4'}

In [267]:
# Q41. Check if the intersection of two sets is empty.
s1 = {1,2,5,7}
print("Set s1: ",s1)
s2 = {3,5,8,9}
print("set s2: ",s2)

if s1.intersection(s2) == set():
    print("Intersection of set s1 and s2 is empty")
else:
    print("Intersection of set s1 and s2 is not empty and value is: ",s1.intersection(s2))

Set s1:  {1, 2, 5, 7}
set s2:  {8, 9, 3, 5}
Intersection of set s1 and s2 is not empty and value is:  {5}

In [8]:
# Q42. Create a set of the first 5 Fibonacci numbers.
def fib_num(n):
    if n==0:
        return 0
    if n==1 or n==2:
        return 1
    return fib_num(n-1)+fib_num(n-2)

s1 = {fib_num(i) for i in range(0,6)}
print("Set of first 5 fibonnaci numbers: ",s1)

Set of first 5 fibonnaci numbers:  {0, 1, 2, 3, 5}

In [9]:
# Q43. Remove duplicates from a list using sets.
l1 = [1,1,2,2,3,4,5,6,7,8,8]
print("List: ",l1)
l1 = list(set(l1))
print("List after removing duplicates: ",l1)

List:  [1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 8]
List after removing duplicates:  [1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
# Q44. Check if two sets have the same elements, regardless of their count.
def check_same_elements(l1,l2):
    return set(l1) == set(l2)

l1 = [1,1,2,2,3,3,4]
print("List l1: ",l1)
l2 = [1,2,3,4]
print("List l2: ",l2)

if check_same_elements(l1,l2):
    print("Yes both list have same elements")
else:
    print("No both list not have same elements")

List l1:  [1, 1, 2, 2, 3, 3, 4]
List l2:  [1, 2, 3, 4]
Yes both list have same elements

In [15]:
# Q45. Create a set of the first `n` powers of 2.
n = int(input("Enter n for set of first n powers of 2: "))
s1 = set(2**i for i in range(n))
print("Set: ",s1)

Set:  {32, 1, 2, 64, 4, 8, 16}

In [16]:
# Q46. Find the common elements between a set and a list.
s1 = {3,6,9,12,15}
print("Set: ",s1)
l1 = [2,4,6,8]
print("List: ",l1)

print("Common element in given set and list: ",s1.intersection(set(l1)))

Set:  {3, 6, 9, 12, 15}
List:  [2, 4, 6, 8]
Common element in given set and list:  {6}

In [17]:
# Q47. Create a set of the first `n` triangular numbers
n = int(input("Enter n for set of first n trinangular number: "))
s1 = set((i * (i + 1)) // 2 for i in range(1, n+1))
print("Set: ",s1)

Set:  {1, 3, 6, 10, 15, 21, 28}

In [21]:
# Q48. Check if a set contains another set as a subset.
s1 = {1,2,5,6,8,9,10}
print("Given set: ",s1)
s2 = {5,8,10}
print("Subset: ",sb1)

if s1.issubset(s2):
    print("Yes, s1 is subset of set s2")
elif s2.issubset(s1):
    print("Yes, s2 is subset of set s1")
else:
    print("No, set s1 and s2 are not subset")

Given set:  {1, 2, 5, 6, 8, 9, 10}
Subset:  {8, 10, 5}
Yes, s2 is subset of set s1

In [23]:
# Q49. Create a set of alternating 1s and 0s of length `n`.
n = int(input("Enter n for alternate 0s and 1s: "))
s1 = {1 if i%2==0 else 0 for i in range(0,n)}
print("Set of alternate 0s and 1s: ",s1)

Set of alternate 0s and 1s:  {0, 1}

In [25]:
# Q50. Merge multiple sets into one.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}

merged_s = s1.union(s2, s3)
print("Merged set using union method:", merged_s)

Merged set using union method: {1, 2, 3, 4, 5, 6, 7}